/* Buttons
-------------------------------------------------------- */
.jstb_strong {
	background-image: url(../images/jstoolbar/bt_strong.png);
}
.jstb_italic {
	background-image: url(../images/jstoolbar/bt_italic.png);
}
.jstb_del {
	background-image: url(../images/jstoolbar/bt_del.png);
}
.jstb_h1 {
	background-image: url(../images/jstoolbar/bt_h1.png);
}
.jstb_h2 {
	background-image: url(../images/jstoolbar/bt_h2.png);
}
.jstb_h3 {
	background-image: url(../images/jstoolbar/bt_h3.png);
}
.jstb_ul {
	background-image: url(../images/jstoolbar/bt_ul.png);
}
.jstb_ol {
	background-image: url(../images/jstoolbar/bt_ol.png);
}
.jstb_pre {
	background-image: url(../images/jstoolbar/bt_pre.png);
}
.jstb_unpre {
	background-image: url(../images/jstoolbar/bt_unpre.png);
}
.jstb_link {
	background-image: url(../images/jstoolbar/bt_link.png);
}
.jstb_img {
	background-image: url(../images/jstoolbar/bt_img.png);
}
